version: '3.8'

services:
    app:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        container_name: lmsttatf_app
        command: [ "/usr/bin/supervisord", "-c", "/etc/supervisor/conf.d/supervisord.conf" ]
        volumes:
            - ./:/var/www/html
        ports:
            - "9001:9000"
        networks:
            - app-network
        depends_on:
            - mysql
        environment:
            - DB_CONNECTION=mysql
            - DB_HOST=mysql
            - DB_PORT=3306
            - DB_DATABASE=lmsttatf
            - DB_USERNAME=falcon
            - DB_PASSWORD=Password@123
        extra_hosts:
            - "host.docker.internal:host-gateway"

    web:
        restart: always
        image: nginx:latest
        container_name: lmsttatf_nginx
        volumes:
            - ./dev-nginx.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www/html
        ports:
            - "8084:80"
        networks:
            - app-network

    mysql:
        image: mysql:8.0.40
        container_name: lmsttatf_mysql
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: lmsttatf
            MYSQL_USER: falcon
            MYSQL_PASSWORD: Password@123
        ports:
            - "9003:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    mysql_data:
        driver: local
