services:
  app:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lmsttatf_app
    command: ["/usr/bin/supervisord", "-c", "/etc/supervisor/conf.d/supervisord.conf"]
    volumes:
      - ./:/var/www/html
      - ./storage:/var/www/html/storage
      - ./public:/var/www/html/public
    ports:
      - "9001:9000"
    networks:
      - app-network
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=lmsttatf
      - DB_USERNAME=falcon
      - DB_PASSWORD=Password@123
    extra_hosts:
      - "host.docker.internal:host-gateway"

  web:
    restart: always
    image: nginx:latest
    container_name: lmsttatf_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./public:/var/www/html/public
      - ./storage/app/public:/var/www/html/storage/app/public
      - ./:/var/www/html
    ports:
      - "8084:80"
    networks:
      - app-network
  adminer:
    image: adminer:latest
    container_name: lmsttatf_adminer
    restart: unless-stopped
    ports:
      - "127.0.0.1:8082:8080"
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
