services:
    app:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        container_name: lmsttatf_app
        command: [ "/usr/bin/supervisord", "-c", "/etc/supervisor/conf.d/supervisord.conf" ]
        volumes:
            - ./:/var/www/html
            - ./storage:/var/www/html/storage
            - ./public:/var/www/html/public
        ports:
            - "9001:9000"
        networks:
            - app-network
        environment:
            - DB_CONNECTION=mysql
            - DB_HOST=host.docker.internal
            - DB_PORT=3306
            - DB_DATABASE=lmsttatf
            - DB_USERNAME=falcon
            - DB_PASSWORD=Password@123
        extra_hosts:
            - "host.docker.internal:host-gateway"

    web:
        restart: always
        image: nginx:latest
        container_name: lmsttatf_nginx
        volumes:
           - ./nginx.conf:/etc/nginx/nginx.conf
           - ./public:/var/www/html/public
           - ./storage/app/public:/var/www/html/storage/app/public
           - ./:/var/www/html
            # - /var/www/lmsttatf/nginx.conf:/etc/nginx/nginx.conf
            # - /var/www/lmsttatf:/var/www/html
            # - /var/www/lmsttatf/public:/var/www/html/public
            # - /var/www/lmsttatf/storage/app/public:/var/www/html/storage/app/public
        ports:
            - "8084:80"
        networks:
            - app-network
    phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: lmsttatf_phpmyadmin
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:80"
    environment:
      PMA_HOST: host.docker.internal
      PMA_PORT: 3306
      UPLOAD_LIMIT: 128M
      PMA_ABSOLUTE_URI: http://mark.tashmedunitf.uz/phpmyadmin/
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network
networks:
    app-network:
        driver: bridge



